{
  "openapi": "3.1.0",
  "info": {
    "title": "PulsarPay API",
    "description": "PulsarPay is an automated payment infrastructure designed specifically for APIs and autonomous agents. It allows users to top up credits while agents execute charges for their services.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://pulsarpay.io",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/api/v1/agents/register": {
      "post": {
        "operationId": "registerAgent",
        "tags": [
          "Agents"
        ],
        "summary": "Register an Agent",
        "description": "Register a new agent into the Pulsarpay infrastructure.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRegistration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRegistrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterBadRequestError"
                },
                "examples": {
                  "invalidWebsite": {
                    "summary": "Invalid Website",
                    "value": {
                      "error": "Invalid website URL"
                    }
                  },
                  "invalidEmailFormat": {
                    "summary": "Invalid Email",
                    "value": {
                      "error": "Invalid email format"
                    }
                  },
                  "missingFields": {
                      "summary": "Missing Required Fields",
                        "value": {
                        "error": "Name, email, and website are required"
                        }
                    }




                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterConflictError"
                },
                "examples": {
                  "nameAlreadyExists": {
                    "value": {
                      "error": "Agent name already exists. Please choose a different one."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/charge/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "cmn3tney00001l104hudm7fgy",
          "description": "The unique identifier of the charge."
        }
      ],
      "get": {
        "operationId": "getChargeById",
        "tags": [
          "Payments"
        ],
        "summary": "Get Charge by ID",
        "description": "Retrieve a specific charge by its ID.",
        "parameters": [
          {
            "name": "x-agent-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ag_live_9Uhh0NzB7ZrBWQN6ePd1nsLn",
            "description": "The unique API key of the agent."
          }
        ],
        "responses": {
          "200": {
            "description": "Charge retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeItem"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "invalid agent key"
                }
              }
            }
          },
          "404": {
            "description": "Charge not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "charge not found"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/charges": {
      "get": {
        "operationId": "listCharges",
        "tags": [
          "Payments"
        ],
        "summary": "List Charges",
        "description": "Retrieve a paginated list of charges associated with an agent.",
        "parameters": [
          {
            "name": "x-agent-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ag_live_9Uhh0NzB7ZrBWQN6ePd1nsLn",
            "description": "The unique API key of the agent."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1,
            "description": "Page number for pagination. Defaults to 1."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            },
            "example": 50,
            "description": "Number of items per page. Defaults to 50."
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of charges.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "invalid or disabled agent key"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCharge",
        "tags": [
          "Payments"
        ],
        "summary": "Create a Charge",
        "description": "Executes a charge against a user's credit balance.",
        "parameters": [
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer pp_live_7698774c6d197b4b753c32536a8340f9fe6e881b961db37684f1447f246601fa"
          },
          {
            "name": "x-agent-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ag_live_9Uhh0NzB7ZrBWQN6ePd1nsLn",
            "description": "The unique API key of the agent."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f77af2f2-7a83-4b60-88e1-2808a4d08779",
            "description": "A unique key to ensure the request is processed only once."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/earnings": {
      "get": {
        "operationId": "getAgentEarnings",
        "tags": [
          "Payments"
        ],
        "summary": "Get Agent Earnings",
        "description": "Retrieve total earnings and charge statistics for an agent.",
        "parameters": [
          {
            "name": "x-agent-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ag_live_9Uhh0NzB7ZrBWQN6ePd1nsLn",
            "description": "The unique API key of the agent."
          }
        ],
        "responses": {
          "200": {
            "description": "Agent earnings retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarningsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "invalid or disabled agent key"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/withdraw": {
      "post": {
        "operationId": "withdrawAgentBalance",
        "tags": [
          "Payments"
        ],
        "summary": "Withdraw Funds",
        "description": "Withdraw funds from the agent's balance to a specified wallet address.",
        "parameters": [
          {
            "name": "x-agent-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ag_live_9Uhh0NzB7ZrBWQN6ePd1nsLn",
            "description": "The unique API key of the agent."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "bd51263c-2b10-4b02-aadd-d3463778907d",
            "description": "A unique key to ensure the request is processed only once."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "insufficientBalance": {
                    "value": {
                      "error": "insufficient balance"
                    }
                  },
                  "missingIdempotency": {
                    "value": {
                      "error": "missing Idempotency-key"
                    }
                  },
                  "invalidJson": {
                    "value": {
                      "error": "invalid json body"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "invalid agent"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgentRegistration": {
        "type": "object",
        "required": [
          "name",
          "email",
          "website"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "openclaw-agent",
            "description": "A unique, human-readable name for your agent. This will be displayed in user authorization logs and transaction history."
          },
          "email": {
            "type": "string",
            "example": "dev@openclaw.ai",
            "format": "email",
            "description": "Primary developer or organization email. This address will be used for manual account activation and critical security notifications."
          },
          "website": {
            "type": "string",
            "example": "https://openclaw.ai",
            "format": "uri",
            "description": "Official landing page or documentation URL for the agent's service. Used to verify the legitimacy of the project during onboarding."
          }
        }
      },
      "AgentRegistrationResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Your agent has been created. To start processing payments, please reach out to hello@pulsarpay.io for account activation.",
            "description": "Onboarding instructions and next steps for the developer."
          },
          "apiKey": {
            "type": "string",
            "example": "ag_live__xxxxxxxxxxxxxxxxxx",
            "description": "The secret API key for the agent. This key is used in the 'X-agent-key' header to authenticate charges. It is only shown once upon registration."
          },
          "enabled": {
            "type": "boolean",
            "example": false,
            "description": "Indicates if the agent is active and authorized to process payments. New agents are disabled by default until manual verification is completed."
          }
        }
      },
      "ChargeRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency",
          "description"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "example": 0.1
          },
          "currency": {
            "type": "string",
            "example": "USDC"
          },
          "description": {
            "type": "string",
            "example": "image icon 2px"
          }
        }
      },
      "ChargeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "chargeId": {
            "type": "string",
            "example": "cmnnfoagf0003jk04suqxf3k9"
          },
          "reused": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "ChargeListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChargeItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "ChargeItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "cmnf6jwup00091rcvo4qevr42"
          },
          "idempotencyKey": {
            "type": "string",
            "example": "2207f602-c751-4b9b-98ae-456653bfe7b7"
          },
          "amount": {
            "type": "number",
            "example": 50
          },
          "currency": {
            "type": "string",
            "example": "USDC"
          },
          "description": {
            "type": "string",
            "example": "hack de pulsar"
          },
          "status": {
            "type": "string",
            "example": "FAILED"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-31T22:20:03.217Z"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "example": 2
          },
          "page": {
            "type": "integer",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "example": 50
          },
          "totalPages": {
            "type": "integer",
            "example": 1
          }
        }
      },
      "EarningsResponse": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "example": "USDC"
          },
          "totalEarned": {
            "type": "number",
            "example": 0.64
          },
          "totalCharges": {
            "type": "integer",
            "example": 4
          }
        }
      },
      "WithdrawRequest": {
        "type": "object",
        "required": [
          "amount",
          "walletAddress"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "example": 120,
            "description": "Amount to withdraw in USDC (Solana network)"
          },
          "walletAddress": {
            "type": "string",
            "example": "8ixbQzsFc9FkxegG7aumq3h1XCGDkRSN23xeLTnZiyHr",
            "description": "Destination wallet address"
          }
        }
      },
      "WithdrawResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "payoutId": {
            "type": "string",
            "example": "cmnpeptvy0005l404gq5zy7nx"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "invalid or disabled agent key"
          }
        }
      },
      "RegisterConflictError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Agent name already exists. Please choose a different one."
          }
        }
      },
        "RegisterBadRequestError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Detailed error message describing the validation failure."
          }
        }
      }
      
    }
  }
}