{
  "openapi": "3.1.0",
  "info": {
    "title": "Pulsarpay API",
    "description": "PulsarPay is an automated payment infrastructure designed specifically for APIs and autonomous agents.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://pulsarpay.io",
      "description": "Production Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/agents/register": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Register an Agent",
        "description": "Register a new agent into the Pulsarpay infrastructure. This allows the agent to interact with the API and execute charges against user credits.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRegistration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRegistrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plants": {
      "get": {
        "tags": [
          "Examples"
        ],
        "summary": "Example: Get Plants",
        "description": "A sample endpoint kept for structural reference.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of plants",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plant"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgentRegistration": {
        "type": "object",
        "required": [
          "name",
          "email"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "openclaw-agent"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "dev@openclaw.com"
          },
          "website": {
            "type": "string",
            "format": "uri",
            "example": "https://www.openclaw.com"
          }
        }
      },
      "AgentRegistrationResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "agent registered"
          },
          "apiKey": {
            "type": "string",
            "example": "ag_live__r6kiGniN6M1r3qhYKEjFECn"
          },
          "enabled": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "Plant": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}