{
  "openapi": "3.1.0",
  "info": {
    "title": "Pulsarpay API",
    "description": "Pulsarpay is an automated payment infrastructure designed specifically for APIs and autonomous agents. It allows users to top up credits while agents execute charges for their services.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://pulsarpay.io",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/api/v1/agents/register": {
      "post": {
        "operationId": "registerAgent",
        "tags": [
          "Agents"
        ],
        "summary": "Register an Agent",
        "description": "Register a new agent into the Pulsarpay infrastructure.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRegistration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRegistrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterBadRequestError"
                },
                "examples": {
                  "invalidWebsite": {
                    "summary": "Invalid Website",
                    "value": {
                      "error": "Invalid website URL"
                    }
                  },
                  "invalidEmailFormat": {
                    "summary": "Invalid Email",
                    "value": {
                      "error": "Invalid email format"
                    }
                  },
                  "missingFields": {
                    "summary": "Missing Required Fields",
                    "value": {
                      "error": "Name, email, and website are required"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterConflictError"
                },
                "examples": {
                  "nameAlreadyExists": {
                    "value": {
                      "error": "Agent name already exists. Please choose a different one."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/charge/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "cmn3tney00001l104hudm7fgy",
          "description": "The unique Cuids-based identifier for the charge. This is the `chargeId` returned during the creation process."
        }
      ],
      "get": {
        "operationId": "getChargeById",
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve Charge Details",
        "description": "Returns the full object of a specific charge. Use this to poll the status of a transaction or to retrieve metadata for reconciliation.",
        "parameters": [
          {
            "name": "x-agent-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ag_live_9Uhh0NzB7ZrBWQN6ePd1nsLn",
            "description": "The secret API key of the agent. This key ensures that only the agent who created the charge (or has administrative access) can view its details."
          }
        ],
        "responses": {
          "200": {
            "description": "Charge details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeItem"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - The provided agent key is invalid, expired, or not authorized to access this specific charge.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "invalid agent key"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - No charge was found with the provided ID, or it does not belong to the authenticated agent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCharge404"
                },
                "example": {
                  "error": "charge not found"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/charges": {
      "get": {
        "operationId": "listCharges",
        "tags": [
          "Payments"
        ],
        "summary": "List Charges",
        "description": "Retrieve a paginated list of all charges processed by the authenticated agent. Useful for reconciliation and auditing.",
        "parameters": [
          {
            "name": "x-agent-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ag_live_9Uhh0NzB7ZrdWQNSAPd1nsLn",
            "description": "The unique API key of the agent used for authentication."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1,
            "description": "The page number to retrieve. Used for navigating through large datasets."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Maximum number of charge records to return per page."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of the charges list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing agent key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "invalid or disabled agent key"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCharge",
        "tags": [
          "Payments"
        ],
        "summary": "Create a Charge",
        "description": "Debits a specified amount from a user's balance. This action requires authorization from the user via their unique key.",
        "parameters": [
          {
            "name": "x-user-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer pp_live_7698774c6d197b4b753c32536a8340f9fe6e881b961db37684f1447f246601fa",
            "description": "The user's authorization token. This allows the agent to execute charges against the user's credits."
          },
          {
            "name": "x-agent-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ag_live_9Uhh0NzB7ZrBWQN6ePd1nsLn",
            "description": "The unique API key of the agent executing the charge."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f77af2f2-7a83-4b60-88e1-2808a4d08779",
            "description": "A unique, client-generated string to prevent duplicate charges in case of network retries. Recommended to use UUID v4."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Logic or Configuration Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCharge4XX"
                },
                "examples": {
                  "currencyMismatch": {
                    "summary": "Currency Mismatch",
                    "value": {
                      "error": "currency mismatch"
                    }
                  },
                  "balanceNotFound": {
                    "summary": "Balance Not Found",
                    "value": {
                      "error": "insufficient funds"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required - Insufficient Funds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "insufficientFunds": {
                    "summary": "Insufficient Funds",
                    "value": {
                      "error": "insufficient funds"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/earnings": {
      "get": {
        "operationId": "getAgentEarnings",
        "tags": [
          "Payments"
        ],
        "summary": "Get Agent Earnings",
        "description": "Returns a summary of the agent's financial performance, including total accumulated earnings available for withdrawal and the count of successful charge operations.",
        "parameters": [
          {
            "name": "x-agent-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ag_live_9Uhh0NzB7ZrBWQN6ePd1nsLn",
            "description": "The unique API key of the agent. Used to identify the account and fetch its specific earning statistics."
          }
        ],
        "responses": {
          "200": {
            "description": "Agent earnings and statistics retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarningsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - The agent key is invalid, missing, or the account has been disabled by Pulsarpay administration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "invalid or disabled agent key"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/withdraw": {
      "post": {
        "operationId": "withdrawAgentBalance",
        "tags": [
          "Payments"
        ],
        "summary": "Withdraw Funds",
        "description": "Initiates a withdrawal of the agent's earned balance to an external Solana wallet. The funds are transferred in USDC.",
        "parameters": [
          {
            "name": "x-agent-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ag_live_9Uhh0NzB7ZrBWQN6ePd1nsLn",
            "description": "The unique API key of the agent. Used to verify the balance ownership."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "bd51263c-2b10-4b02-aadd-d3463778907d",
            "description": "A unique UUID v4 string to ensure the withdrawal is only processed once, preventing double payouts on network retries."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal request accepted and processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation or logic error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "insufficientBalance": {
                    "summary": "Insufficient Balance",
                    "value": {
                      "error": "insufficient balance"
                    }
                  },
                  "invalidWallet": {
                    "summary": "Invalid Wallet Address",
                    "value": {
                      "error": "invalid solana address"
                    }
                  },
                  "missingIdempotency": {
                    "summary": "Missing Idempotency Key",
                    "value": {
                      "error": "missing Idempotency-key"
                    }
                  },
                  "invalidJson": {
                    "value": {
                      "error": "invalid json body"
                    }
                  },
                  "payoutAlreadyInProgress": {
                    "summary": "Payout Already In Progress",
                    "value": {
                      "error": "payout already in progress"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid agent credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "invalid agent"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgentRegistration": {
        "type": "object",
        "required": [
          "name",
          "email",
          "website"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "openclaw-agent",
            "description": "A unique, human-readable name for your agent. This will be displayed in user authorization logs and transaction history."
          },
          "email": {
            "type": "string",
            "example": "dev@openclaw.ai",
            "format": "email",
            "description": "Primary developer or organization email. This address will be used for manual account activation and critical security notifications."
          },
          "website": {
            "type": "string",
            "example": "https://openclaw.ai",
            "format": "uri",
            "description": "Official landing page or documentation URL for the agent's service. Used to verify the legitimacy of the project during onboarding."
          }
        }
      },
      "AgentRegistrationResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Your agent has been created. To start processing payments, please reach out to hello@pulsarpay.io for account activation.",
            "description": "Onboarding instructions and next steps for the developer."
          },
          "apiKey": {
            "type": "string",
            "example": "ag_live__xxxxxxxxxxxxxxxxxx",
            "description": "The secret API key for the agent. This key is used in the 'X-agent-key' header to authenticate charges. It is only shown once upon registration."
          },
          "enabled": {
            "type": "boolean",
            "example": false,
            "description": "Indicates if the agent is active and authorized to process payments. New agents are disabled by default until manual verification is completed."
          }
        }
      },
      "ChargeRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency",
          "description"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "format": "float",
            "example": 0.1,
            "description": "The amount to be charged to the user's balance. Represented in decimal units of the currency (e.g., 1.50 for 1.50 USDC)."
          },
          "currency": {
            "type": "string",
            "enum": [
              "USDC",
              "USDT",
              "USD"
            ],
            "example": "USDC",
            "description": "The three-letter ISO currency code or token symbol. Must match the user's available balance currency."
          },
          "description": {
            "type": "string",
            "maxLength": 255,
            "example": "AI Model Inference - 500 tokens",
            "description": "A brief description of the service or product provided. This will be visible to the user in their transaction history."
          }
        }
      },
      "ChargeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "chargeId": {
            "type": "string",
            "example": "cmnnfoagf0003jk04suqxf3k9"
          },
          "reused": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "ChargeListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChargeItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "ChargeItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "cmnf6jwup00091rcvo4qevr42",
            "description": "Unique identifier for the charge record."
          },
          "idempotencyKey": {
            "type": "string",
            "example": "2207f602-c751-4b9b-98ae-456653bfe7b7",
            "description": "The unique string provided during creation to prevent duplicate processing."
          },
          "amount": {
            "type": "number",
            "example": 50,
            "description": "The transaction amount in decimal format (e.g., 50.00)."
          },
          "currency": {
            "type": "string",
            "example": "USDC",
            "description": "The token symbol used for the transaction (Solana network)."
          },
          "description": {
            "type": "string",
            "example": "AI Inference Service",
            "description": "The purpose of the charge as defined by the agent."
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "SUCCESS",
              "FAILED",
              "EXPIRED"
            ],
            "example": "FAILED",
            "description": "The current state of the charge in its lifecycle."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-31T22:20:03.217Z",
            "description": "Timestamp when the charge was first initialized."
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "example": 2
          },
          "page": {
            "type": "integer",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "example": 50
          },
          "totalPages": {
            "type": "integer",
            "example": 1
          }
        }
      },
      "EarningsResponse": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "example": "USDC",
            "description": "The currency symbol in which the earnings are denominated (e.g., USDC on Solana)."
          },
          "totalEarned": {
            "type": "number",
            "example": 1550.75,
            "description": "The net amount earned by the agent, after any applicable platform fees. This represents the balance available for withdrawal."
          },
          "totalCharges": {
            "type": "integer",
            "example": 142,
            "description": "The total number of successful payment transactions processed by this agent."
          },
          "currentBalance": {
            "type": "number",
            "example": 18.889,
            "description": "The agent's current balance pending withdrawal — accumulated earnings that have not yet been paid out."
          }
        }
      },
      "WithdrawRequest": {
        "type": "object",
        "required": [
          "amount",
          "walletAddress"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "minimum": 1,
            "example": 100,
            "description": "The amount of USDC to withdraw. Must be greater than or equal to the minimum withdrawal limit (1.00 USDC)."
          },
          "walletAddress": {
            "type": "string",
            "example": "8ixbQzsFc9FkxegG7aumq3h1XCGDkRSN23xeLTnZiyHr",
            "description": "The destination Solana (SPL) wallet address."
          }
        }
      },
      "WithdrawResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true,
            "description": "Confirms the withdrawal was successfully broadcasted to the network."
          },
          "payoutId": {
            "type": "string",
            "example": "cmoqbpavp00071ry1t2iyr1hw",
            "description": "Internal tracking ID for the withdrawal transaction."
          },
          "breakdown": {
            "type": "object",
            "description": "Detailed breakdown of the payout amounts and destination.",
            "properties": {
              "grossAmount": {
                "type": "number",
                "example": 100,
                "description": "The total amount requested for withdrawal before fees."
              },
              "platformFeeRate": {
                "type": "string",
                "example": "3%",
                "description": "The platform fee percentage applied to the withdrawal."
              },
              "platformFee": {
                "type": "number",
                "example": 3,
                "description": "The absolute fee amount deducted by the platform."
              },
              "netAmount": {
                "type": "number",
                "example": 97,
                "description": "The final amount transferred to the wallet after deducting the platform fee."
              },
              "currency": {
                "type": "string",
                "example": "USDC",
                "description": "The token used for the withdrawal."
              },
              "walletAddress": {
                "type": "string",
                "example": "7AEaiRXEiwRne29zXjadxMRznarugZ1K3PmuAqeWvuFX",
                "description": "The destination Solana wallet address."
              },
              "network": {
                "type": "string",
                "example": "SOL",
                "description": "The blockchain network used for the transfer."
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "invalid or disabled agent key"
          }
        }
      },
      "ErrorCharge404": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "charge not found"
          }
        }
      },
      "ErrorCharge4XX": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "insufficient funds"
          }
        }
      },
      "RegisterConflictError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message returned when a resource conflict occurs, typically due to a duplicate unique field such as the agent name.",
            "example": "Agent name already exists. Please choose a different one."
          }
        }
      },
      "RegisterBadRequestError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Detailed error message describing the validation failure."
          }
        }
      }
    }
  }
}