{
  "openapi": "3.1.0",
  "info": {
    "title": "Pulsarpay API",
    "description": "PulsarPay is an automated payment infrastructure designed specifically for APIs and autonomous agents.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://pulsarpay.io",
      "description": "Production Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/agents/register": {
      "post": {
        "tags": ["Agents"],
        "summary": "Register an Agent",
        "description": "Register a new agent into the Pulsarpay infrastructure.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRegistration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRegistrationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/charges": {
      "post": {
        "tags": ["Payments"],
        "summary": "Create a Charge",
        "description": "Executes a charge against a user's credit balance using an agent key and a user session key.",
        "parameters": [
          {
            "name": "X-user-key",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "example": "Bearer pp_live_7698774c6d197b4b753c32536a8340f9fe6e881b961db37684f1447f246601fa"
          },
          {
            "name": "X-agent-key",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "example": "ag_live_9Uhh0NzB7ZrBWQN6ePd1nsLn"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "example": "erer"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgentRegistration": {
        "type": "object",
        "required": ["name", "email"],
        "properties": {
          "name": { "type": "string", "example": "openclaw-agent" },
          "email": { "type": "string", "example": "dev@openclaw.com" },
          "website": { "type": "string", "example": "https://www.openclaw.com" }
        }
      },
      "AgentRegistrationResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string", "example": "agent registered" },
          "apiKey": { "type": "string", "example": "ag_live__r6kiGniN6M1r3qhYKEjFECn" },
          "enabled": { "type": "boolean", "example": false }
        }
      },
      "ChargeRequest": {
        "type": "object",
        "required": ["amount", "currency", "description"],
        "properties": {
          "amount": { "type": "number", "example": 0.1 },
          "currency": { "type": "string", "example": "USDC" },
          "description": { "type": "string", "example": "your service description" }
        }
      },
      "ChargeResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "chargeId": { "type": "string", "example": "cmnnfoagf0003jk04suqxf3k9" },
          "reused": { "type": "boolean", "example": true }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string", "example": "missing headers" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}