{
  "openapi": "3.1.0",
  "info": {
    "title": "PulsarPay API",
    "description": "PulsarPay is an automated payment infrastructure designed specifically for APIs and autonomous agents. It allows users to top up credits while agents execute charges for their services.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://pulsarpay.io",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/api/v1/agents/register": {
      "post": {
        "tags": ["Agents"],
        "summary": "Register an Agent",
        "description": "Register a new agent into the Pulsarpay infrastructure.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AgentRegistration" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent registered successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AgentRegistrationResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/charges": {
      "get": {
        "tags": ["Payments"],
        "summary": "List Charges",
        "description": "Retrieve a paginated list of charges associated with an agent.",
        "parameters": [
          {
            "name": "x-agent-key",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "example": "ag_live_mkJUSITl3hqMt2CgilI2iYAe",
            "description": "The unique API key of the agent."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 1 },
            "example": 1,
            "description": "Page number for pagination."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 50 },
            "example": 50,
            "description": "Number of items per page."
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of charges.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ChargeListResponse" }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or disabled key.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": { "error": "invalid or disabled agent key" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Payments"],
        "summary": "Create a Charge",
        "description": "Executes a charge against a user's credit balance using agent and user keys.",
        "parameters": [
          {
            "name": "X-user-key",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "example": "Bearer pp_live_7698774c6d197b4b753c32536a8340f9fe6e881b961db37684f1447f246601fa",
            "description": "The user's authorization key."
          },
          {
            "name": "X-agent-key",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "example": "ag_live_9Uhh0NzB7ZrBWQN6ePd1nsLn",
            "description": "The unique identifying key for the agent."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "example": "1234ererereer",
            "description": "Unique key to prevent duplicate charges."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ChargeRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge processed successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ChargeResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/charges/{id}": {
      "get": {
        "tags": ["Payments"],
        "summary": "Get Charge",
        "description": "Retrieve details of a specific charge by its ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "example": "cmn3tney00001l104hudm7fgy",
            "description": "The unique ID of the charge."
          },
          {
            "name": "X-Agent-Key",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "example": "ag_live_9Uhh0NzB7ZrBWQN6ePd1nsLn",
            "description": "The unique API key of the agent."
          }
        ],
        "responses": {
          "200": {
            "description": "Charge details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ChargeItem" },
                "example": {
                  "id": "cmn3tney00001l104hudm7fgy",
                  "idempotencyKey": "1234ererere",
                  "amount": 0.1,
                  "currency": "USDC",
                  "description": "image generation",
                  "status": "SUCCEEDED",
                  "createdAt": "2026-03-23T23:33:23.689Z"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid key.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": { "error": "invalid agent key" }
              }
            }
          },
          "404": {
            "description": "Not Found - Charge does not exist.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": { "error": "charge not found" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgentRegistration": {
        "type": "object",
        "required": ["name", "email", "website"],
        "properties": {
          "name": { "type": "string", "example": "openclaw-agent" },
          "email": { "type": "string", "example": "dev@openclaw.ai" },
          "website": { "type": "string", "example": "https://openclaw.ai" }
        }
      },
      "AgentRegistrationResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string", "example": "Your agent has been created. To start processing payments, please reach out to hello@pulsarpay.io for account activation." },
          "apiKey": { "type": "string", "example": "ag_live__xxxxxxxxxxxxxxxxxx" },
          "enabled": { "type": "boolean", "example": false }
        }
      },
      "ChargeRequest": {
        "type": "object",
        "required": ["amount", "currency", "description"],
        "properties": {
          "amount": { "type": "number", "example": 0.1 },
          "currency": { "type": "string", "example": "USDC" },
          "description": { "type": "string", "example": "image icon 2px" }
        }
      },
      "ChargeResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "chargeId": { "type": "string", "example": "cmnnfoagf0003jk04suqxf3k9" },
          "reused": { "type": "boolean", "example": true }
        }
      },
      "ChargeListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ChargeItem" }
          },
          "pagination": { "$ref": "#/components/schemas/Pagination" }
        }
      },
      "ChargeItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "cmnf6jwup00091rcvo4qevr42" },
          "idempotencyKey": { "type": "string", "example": "1234erereress9" },
          "amount": { "type": "number", "example": 50 },
          "currency": { "type": "string", "example": "USDC" },
          "description": { "type": "string", "example": "hack de pulsar" },
          "status": { "type": "string", "example": "FAILED" },
          "createdAt": { "type": "string", "format": "date-time", "example": "2026-03-31T22:20:03.217Z" }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "total": { "type": "integer", "example": 2 },
          "page": { "type": "integer", "example": 1 },
          "limit": { "type": "integer", "example": 50 },
          "totalPages": { "type": "integer", "example": 1 }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string", "example": "invalid or disabled agent key" }
        }
      }
    }
  }
}