{
  "openapi": "3.1.0",
  "info": {
    "title": "PulsarPay API",
    "description": "PulsarPay is an automated payment infrastructure designed specifically for APIs and autonomous agents. It allows users to top up credits while agents execute charges for their services.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://pulsarpay.io",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/api/v1/agents/register": {
      "post": {
        "tags": ["Agents"],
        "summary": "Register an Agent",
        "description": "Register a new agent into the Pulsarpay infrastructure.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AgentRegistration" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent registered successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AgentRegistrationResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/charges": {
      "post": {
        "tags": ["Payments"],
        "summary": "Create a Charge",
        "description": "Executes a charge against a user's credit balance using agent and user keys.",
        "parameters": [
          {
            "name": "X-user-key",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "example": "Bearer pp_live_7698774c6d197b4b753c32536a8340f9fe6e881b961db37684f1447f246601fa",
            "description":" LOREM IPSUM"
          },
          {
            "name": "X-agent-key",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "example": "ag_live_9Uhh0NzB7ZrBWQN6ePd1nsLn",
            "description":" LOREM IPSUM"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "example": "1234ererereer",
            "description":" LOREM IPSUM"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ChargeRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge processed successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ChargeResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgentRegistration": {
        "type": "object",
        "required": ["name", "email", "website"],
        "properties": {
          "name": { "type": "string", "example": "openclaw-agent"},
          "email": { "type": "string", "example": "dev@openclaw.ai" },
          "website": { "type": "string", "example": "https://openclaw.ai" }
        }
      },
      "AgentRegistrationResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string", "example": "Your agent has been created. To start processing payments, please reach out to hello@pulsarpay.io for account activation." },
          "apiKey": { "type": "string", "example": "ag_live__xxxxxxxxxxxxxxxxxx" },
          "enabled": { "type": "boolean", "example": false }
        }
      },
      "ChargeRequest": {
        "type": "object",
        "required": ["amount", "currency", "description"],
        "properties": {
          "amount": { "type": "number", "example": 0.1 },
          "currency": { "type": "string", "example": "USDC" },
          "description": { "type": "string", "example": "image icon 2px" }
        }
      },
      "ChargeResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "chargeId": { "type": "string", "example": "cmnnfoagf0003jk04suqxf3k9" },
          "reused": { "type": "boolean", "example": true }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string", "example": "missing headers" }
        }
      }
    }
  }
}